@media screen and (max-width: 768px) {
  .nav {
    &-heading {
      font-size: 20px;
    }
  }
  .options {
    flex-direction: column;
    align-items: flex-start;

    &-label {
      width: 100%;
    }
    .dropdown {
      margin-top: 30px;
    }
  }
  .countries {
    &-btns {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    &-btn {
      margin: 10px 20px;
    }
  }
  .card {
    width: 265px;
  }
  .country-borders {
    flex-wrap: wrap;

    &-list {
      margin-left: 0;
      margin-top: 10px;
    }
    &-item {
      margin-left: 0;
      margin-right: 10px;
    }
  }
}
.not-found {
  padding: 50px 10px;
  &-paragraph {
    text-align: center;
  }
  &-btn {
    margin-top: 50px;
  }
}

@media screen and (max-width: 589px) {
  .card {
    width: 340px;
    max-width: none;
  }
}
