@media screen and (max-width: 1200px) {
  .countries-list {
    gap: 30px;
  }
  .country {
    &-info {
      margin-left: 40px;
    }
    &-details-list {
      &:last-of-type {
        margin-left: 40px;
      }
    }
  }
}
